.league-details{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    min-height: 300px;
}
.league-details img{
    max-width: 5%;
    margin: 20px;
}
.league-details-info-main{
    background: linear-gradient(to left, #8C6849, #d3cbb8);
    padding: 3%;
    border-radius: 16px;
}
.list-group img{
    max-width: 40%;
}
.league-details-info-text h1{
    font-size: 36px;
    font-weight: 700;
}
.items, .league-details-info-text h1{
    padding-bottom: 30px;
}
.league-details-info-text h4{
    font-size: 20px;
    font-weight: 600;
    margin-left: -17px;
}
.league-details-info p{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: justify;
}
.list-group-item{
    border: none !important;
    background-color: none !important;
}
.icons{
    text-align: center;
    padding-top: 40px;
}
a.social{
    margin: 0 1rem;
    font-size: 4em;
}
a.youtube {
    color: #eb3223 !important;
}
a.facebook {
    color: #4968ad !important;
}
a.twitter {
    color: #49a1eb !important;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .league-details{
        min-height: 180px;
    }
    .league-details img {
        max-width: 15%;
        margin: 20px;
    }
    .items, .league-details-info-text h1 {
        padding-bottom: 16px;
    }
    .league-details-info-text h1 {
        font-size: 17px;
        font-weight: 600;
        padding-top: 15px;
    }
    .list-group img {
        max-width: 32%;
    }
    .league-details-info-text h4 {
        font-size: 14px;
        font-weight: 400;
        margin-left: -30px;
    }
    .poster-image {
        margin: 24px 0px;
    }
    .league-details-info-main {
        margin: 10px;
    }
    .league-details-info p {
        font-size: 15px;
        line-height: 25px;
        margin: 10px;
    }
    a.social{
        font-size: 2em;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .league-details img {
        max-width: 15%;
    }
    .items, .league-details-info-text h1 {
        padding-bottom: 12px;
    }
    .league-details-info-text h1 {
        font-size: 23px;
        font-weight: 600;
    }
    .league-details-info-text h4 {
        font-size: 16px;
        font-weight: 400;
        margin-left: -21px;
    }
    .list-group img {
        max-width: 32%;
    }
    .poster-image {
        margin: 24px 0px;
    }
    .league-details-info p {
        font-size: 14px;
        line-height: 26px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .league-details img {
        max-width: 15%;
    }
    .league-details-info-text h1 {
        padding-bottom: 10px; 
    }
    .league-details-info-text h1 {
        font-size: 30px;
    }
    .items{
        padding-bottom: 10px;
    }
}