.hello{
    width: 100%;
    height: 100vh;
}
.card-container{
    width: 370px;
height: 362px;

   
}
.cards{
    width: 100%;
    height: 100%;
    
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .cards{
    transform: rotateY(180deg);
}
.cards .front{
    background-color: red;
}
.cards .back{
    background-color: blue;
    transform: rotateY(180deg);
}