div {
    overflow-x: hidden;
  }


  .single-item {
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  .single-item:hover {
    box-shadow: 0 .5rem 0.5rem rgba(0, 0, 0, .15);
    border-radius: 10px;
    transform: rotateY(30deg) translateY(10px) scaleX(1.1);
  }
  .card {
    border: none;
    border-radius: 20px;
    background-image: radial-gradient(circle, #d9c6b0, #d1bfaa, #c8b7a3, #c0b09d, #b8a997);
  }
  .card-body {
    padding-bottom: 0;
  }
  .card-img-top {
    margin: 0 auto;
  }
  .card img{
      max-width: 50%;
  }
.card-title{
    font-size: 12px;
    font-weight: 600;  
}
.hire-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 28px;
    background: linear-gradient(to left, #8C6849, #d3cbb8);
    border: none;
    outline: none;
    border-radius: 33px;
    transition: 1s ease-in-out;
}
.hire-button:hover{
    background: linear-gradient(to right, #8C6849, #d3cbb8);
}