div {
    overflow-x: hidden;
}
.single-item {
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
}
.single-item:hover {
  box-shadow: 0 .5rem 0.5rem rgba(0, 0, 0, .15);
  border-radius: 10px;
  transform: rotateY(30deg) translateY(10px) scaleX(1.1);
}  
.card {
  border: none;
  border-radius: 20px;
  background-image: radial-gradient(circle, #d9c6b0, #d1bfaa, #c8b7a3, #c0b09d, #b8a997);
  padding: 12% 0;
}
.card-body {
  padding-bottom: 0;
}
.card-img-top {
  margin: 0 auto;
}
.card img{
  max-width: 50%;
}
.card-body h3{
  line-height: 29px;
  font-size: 24px;
  font-weight: 700; 
}
.card-body h4{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 5%;
}
.card-body span{
  margin-left: 10px;
}
.explore-button{
  font-weight: 500;
  font-size: 20px;
  padding: 10px 50px;
  background: linear-gradient(to left, #8C6849, #d3cbb8);
  border: none;
  outline: none;
  border-radius: 33px;
  transition: 1s ease-in-out;
}
.explore-button:hover{
  background: linear-gradient(to right, #8C6849, #d3cbb8);
  color: #fff;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .card-body h3 {
      line-height: 23px;
      font-weight: 600;
  }
  .explore-button {
      font-weight: 500;
      font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .card-body h3 {
      line-height: 23px;
      font-size: 20px;
  }
  .explore-button {
      font-weight: 400;
      font-size: 14px;
      padding: 10px 35px;
  }
  
}