.home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0,0.4)), url(../../sports-mania-main/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    min-height: 400px;
}
.league-card, .league-details-info{
    background-color: #FEEAE6;
    padding: 5% 0;
}
.home h1{
    font-size: 45px;
    font-weight: 900;
}