/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .home{
        min-height: 226px;
    }
    .home h1 {
        font-size: 27px;
    }
    .card-body h3 {
        line-height: 23px;
        font-weight: 600;
    }
    .explore-button {
        font-weight: 500;
        font-size: 18px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .home{
        min-height: 260px;
    }
    .home h1 {
        font-size: 30px;
    }
    .card-body h3 {
        line-height: 23px;
        font-size: 20px;
    }
    .explore-button {
        font-weight: 400;
        font-size: 14px;
        padding: 10px 35px;
    }
    
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .league-details img {
        max-width: 10%;
    }
    .league-details-info-text h1 {
        padding-bottom: 10px; 
    }
    .league-details-info-text h1 {
        font-size: 30px;
    }
    .items{
        padding-bottom: 10px;
    }
}
